$base_color: #0da3e3;
$shadow: #d3d3d3;

#layer_switcher_wrapper {
  #layer_switcher_button_wrapper {
    position: absolute;
    top: 290px;
    left: 0.5em;
  }

  #layer_switcher_window {
    display: none;
    position: absolute;
    width: 700px;
    height: 500px;
    background-color: #fff;
    border: solid 5px $base_color;
    border-radius: 3px;
  }

  #layer_switcher_header {
    background-color: $base_color;
    height: 18px;
    width: 100%;
    h1,
    div,
    i {
      line-height: 18px;
      color: #fff;
    }
    h1,
    div {
      margin: 0;
      float: left;
      font-size: 16px;
      vertical-align: middle;
    }
    h1 {
      width: calc(60% - 3px);
      text-align: left;
      padding-left: 3px;
    }
    div {
      width: 40%;
      text-align: right;
      margin-top: -1px;
      i {
        font-size: 18px;
      }
    }
  }

  table {
    border-collapse: collapse;
    width: calc(100% + 2px);
    vertical-align: middle;
    font-size: 16px;
    line-height: 24px;
    tr {
      height: 24px;
      width: auto;
    }
    td {
      border: solid 1px $base_color;
      padding-left: 3px;
      width: auto;
      input[type='checkbox'] {
        display: none;
        + label {
          &:before {
            content: '\f070';
            color: $shadow;
          }
        }
        &:checked + label {
          &:before {
            content: '\f06e';
            color: darken($base_color, 10%);
          }
        }
      }
      input[type='range'] {
        width: 100%;
        height: 8px;
        border-radius: 3px;
        background: $shadow;
        outline: none;
        opacity: 0.5;
        transition: opacity 0.2s;
        -webkit-appearance: none;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: $base_color;
          cursor: pointer;
        }

        &::-moz-range-thumb {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background: #4caf50;
          cursor: pointer;
        }
      }
      &.layer-id {
        display: none;
      }
    }
  }
}
