.wrap-menubtn {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
}

.wrap-openmenu.menuactive {
  display: none;
}

.ol-full-screen {
  position: absolute;
  top: 3em;
  right: 0.5em;
}

.menu .wrap-closemenubtn {
  z-index: 1;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  overflow: auto;
  max-width: 270px;
  width: 48%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.8);
  font-family: sans-serif;

  color: #222;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 170%;
}

.menu.active {
  display: block;
}

.menu-box {
  padding: 0.7em;
}

.menu .menu-buildings {
  border-top: 1px solid #ddd;
}

.menu li,
.menu a {
  list-style-type: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

.menu li:hover,
.menu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu .menu-buildings {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: calc(100vh - 20em);
}

.menu a {
  color: #222;
  text-decoration: none;
}

.menu .menu-title,
.menu .copyright {
  font-size: 0.7em;
}

/* --- */

.ol-popup table {
  border: 0;
}

.ol-popup td {
  padding: 2px;
  border: 0;
  border-left: 2px solid rgba(0, 60, 136, 0.5);
}

.mysearch {
  position: absolute;
  top: 0;
  left: 2.375em;
  display: flex;
  align-items: center;
  margin: 0.5em 0.5em 0 0.5em;
  max-width: 500px;
  width: calc(100vw - 4em);
  height: 2.5em;
  border-bottom: 1px solid rgba(72, 72, 72, 0.7);
  border-radius: 5px 5px 0 0;
  background-color: #fafafa;
  box-shadow: 0px 0px 4px 1px rgba(184, 184, 184, 0.8);
}

.mysearch button[title~='search'] {
  display: none;
}

.mysearch input[type='search'] {
  padding: 0 3.5em 0 1em;
  width: calc(100vw - 3em);
  height: calc(2.5em - 10px);
  border: 0;
  border-radius: 5px;
  background-color: #fafafa;
}

.mysearch input[type='search']:focus {
  outline: 0;
}

.mysearch input[type='reset'] {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 0;
  width: 2.5em;
  height: 2.5em;
  border: 0;
  border-radius: 5px;
  background-color: #eee;
}

.mysearch input[type='reset']:hover {
  background-color: #ccc;
}

.mysearch.menuactive {
  width: calc(100vw - 48% - 1.5em);
}

.mysearch .autocomplete {
  position: absolute;
  top: 41px;
  left: -8px;
  display: none;
  align-items: center;
  margin: 0 0.5em;
  width: 100%;
  border-bottom: 1px solid rgba(72, 72, 72, 0.7);
  border-radius: 0 0 5px 5px;
  background-color: #fafafa;
  box-shadow: 0px 0px 4px 1px rgba(184, 184, 184, 0.8);
}

.mysearch .autocomplete:not(.history) {
  display: block;
  list-style: none;
}

.mysearch .autocomplete li {
  display: inline-block;
  padding-left: 1em;
  width: calc(100% - 1em);
  line-height: 1.6em;
}

.mysearch > .autocomplete > li:hover,
.mysearch .select {
  background-color: rgba(230, 230, 230, 0.8);
}

.mysearch input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
