@charset "utf-8";

/* お問い合わせ(Contact Us)、使い方(User Manual) : モバイル含む */

body {
  margin: 0;
  /* background-color: #f1fff4; */
}

nav {
  margin-bottom: 6px;
}

footer {
  margin-top: 6px;
}

a {
  color: #000;
}

.header-inner {
  padding: 5px;
}

.nav-inner {
  padding: 0.2em;
  background: rgba(46, 110, 194, 0.7);
}

.navbar {
  list-style-type: none;
  text-align: left;
}

.main-inner {
  background: rgba(137, 137, 137, 0.15);
}

.footer-inner {
  background: #adadad;
  color: #eee;
}

.navbar {
  margin: 0;
  padding-left: 2.5em;
  color: #eee;
}

.header-inner h1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.navbar li {
  display: block;
}

.footer-inner small {
  text-align: center;
}

.navbar a {
  color: #eee;
  text-decoration: none;
  border-bottom: dashed 1px #eee;
}

