@charset "utf-8";

/* contactus用 : お問い合わせフォーム */

.required::after {
  color: #ff0000;
  content: "【必須】";
}

label {
  margin-right: 15px;
  display: block;
}

form ul {
  padding: 0;
}

form ul li {
  list-style: none;
}

form ul li input,
form ul li select {
  margin-left: 1.5em;
}

#onlyknct {
  display: none;
}

.contents textarea {
  width: 90%;
  height: 8em;
}

@media screen and (min-width: 768px) {
  form ul {
    padding: 0 2em;
  }

  form ul li input,
  form ul li select {
    margin-left: 0;
  }

  
  label {
    width: 200px;
    float: left;
    display: inline;
  }
}

