/* ボタン、メニューなどのデザイン aidmiya */
/* なお、map.cssにも手を加えることがあります */

/* 各種ボタン */
/* ol3-ext でボタンをつくるときのみ有効化
.menubtn {
	right: 0.5em;
	top: 0.5em;
}
.ol-button i {
	color: inherit;
}
*/
.wrap-menubtn {
	position: fixed; /* スクロールによる移動を防ぐ */
	right: 0.5em;
	top: 0.5em;
}
/* .ol-controlを使うので廃止
.wrap-menubtn {
	position: absolute;
	z-index: 1;
	padding: 0;
	border: 3px solid rgba(255,255,255,.4);
	border-radius: 3px;
}
*/
/* ol-control buttonを使うので廃止
button.menubtn, div.menubtn {
	width: 2em;
	height: 2em;
	border: 0;
	background-color: rgba(0,60,136,.5);
	color: #fff;
	text-align: center;
	border-radius: 2px;
}
button.menubtn:hover, div.menubtn:hover {
	background-color: #000;
}
*/
/* ハンバーガーメニューのボタンの色指定はここ
そのままではありきたりなので、ハンバーガーボタンだけじゃなくて、全部のボタンの色を変えてみても良いかも(要確認)
.menubtn button {
	background-color: rgba(0,60,136,.5);
}
*/
.ol-full-screen {
	right: 0.5em;
	top: 3em;
}

/* メニュー */
.menu {
	font-family: sans-serif;
	display: none;
	width: 48%;
	max-width: 270px;
	height: 100%;
	top: 0;
	right: 0;
	background-color: rgba(245,245,245,.8);
	/* 100vhを超えればスクロールできるのでそれがわかるようにする */
	overflow: auto;
}
.menu.active {
	display: block;
}
.menu-box {
	padding: 0.7em;
}
.menu hr {
	border: 1px solid #ddd;
}
.menu ul {
	margin: 0;
	padding: 0;
	line-height: 150%;
	font-size: 1.2em;
}
.menu li {
	list-style-type: none;
	-webkit-tap-highlight-color: rgba(0,0,0,.1);
}
.menu li:hover {
	background-color: rgba(0,0,0,.1);
}
.menu .menu-nohover {
	-webkit-tap-highlight-color: transparent;
}
.menu .menu-nohover:hover {
	background-color: transparent;
}
.menu .menu-list {
	margin-top: 0.8em;
}
.menu .menu-buildings {
	/* 高さはどう指定? */
	height: calc( 100vh - 20em );
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.menu .menu-content, .menu .menu-content a {
	color: #c81e00;
}
.menu a {
	text-decoration: none;
	color: #333;
}
.menu footer {
	text-align: right;
}

/* ポップアップの表 */
.ol-popup table {
	border: 0;
}
.ol-popup td {
	border: 0;
	padding: 2px;
	border-left: 2px solid rgba(0, 60, 136, 0.5);
}

/* 検索ボックスのフォーム */
form.search {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
form .search-box {
	margin: 0.5em;
	position: relative; /* [x]のrightの基準 */
	display: flex;
	align-items: center; /* [x]を縦で中央に */
	height: 2em;
	/* とりあえず見やすくするために */
	border: 1px solid #000;
	background-color: #fff;
	box-shadow: 0px 0px 5px 1px rgba(184,184,184,0.8);
	border-radius: 5px;
}
form input[type="text"] {
	width: 100%;
	border: 0;
	border-radius: 5px;
	font-size: 1.5em;
}
form input[type="reset"] {
	position: absolute;
	right: 0;
	width: 2em;
	height: 2em;
	border: 0;
	border-radius: 5px;
	background-color: #fff;
}
form input[type="reset"]:hover {
	background-color: #ccc;
}

