/* ボタン、メニューなどのデザイン aidmiya */
/* なお、map.cssにも手を加えることがあります */

/* 各種ボタン */
/* ol3-ext でボタンをつくるときのみ有効化
.menubtn {
	right: 0.5em;
	top: 0.5em;
}
.ol-button i {
	color: inherit;
}
*/
.wrap-menubtn {
	right: 0.5em;
	top: 0.5em;
}
/* .ol-controlを使うので廃止
.wrap-menubtn {
	position: absolute;
	z-index: 1;
	padding: 0;
	border: 3px solid rgba(255,255,255,.4);
	border-radius: 3px;
}
*/
/* ol-control buttonを使うので廃止
button.menubtn, div.menubtn {
	width: 2em;
	height: 2em;
	border: 0;
	background-color: rgba(0,60,136,.5);
	color: #fff;
	text-align: center;
	border-radius: 2px;
}
button.menubtn:hover, div.menubtn:hover {
	background-color: #000;
}
*/
/* ハンバーガーメニューのボタンの色指定はここ
そのままではありきたりなので、ハンバーガーボタンだけじゃなくて、全部のボタンの色を変えてみても良いかも(要確認)
.menubtn button {
	background-color: rgba(0,60,136,.5);
}
*/
.ol-full-screen {
	right: 0.5em;
	top: 3em;
}

/* メニュー */
.menu {
	font-family: sans-serif;
	display: none;
	position: absolute;
	width: 48%;
	max-width: 270px;
	height: 100vh;
	top: 0;
	right: 0;
	background-color: rgba(245,245,245,.8);
}
.menu.active {
	display: block;
}
.menu-box {
	padding: 0.7em;
}
.menu hr {
	border: 1px solid #ddd;
}
.menu ul {
	margin: 0;
	padding: 0;
	line-height: 150%;
	font-size: 1.1em;
}
.menu li {
	list-style-type: none;
}
.menu .menu-list {
	margin-top: 0.8em;
}
.menu .menu-buildings {
	/* 高さはどう指定? */
	height: calc( 100vh - 16.5em );
	overflow: auto;
}
.menu .menu-content, .menu .menu-content a {
	color: #c81e00;
}
.menu a {
	text-decoration: none;
	color: #333;
}

/* ポップアップの表 */
.ol-popup table {
	border: 0;
}
.ol-popup td {
	border: 0;
	padding: 2px;
	border-left: 2px solid rgba(0, 60, 136, 0.5);
}

