.back-image {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/monument-knct.jpg");
    background-size: cover;
}
