@charset "utf-8";

@media screen and (min-width: 741px) {

/* ---
 ナビゲーション
   --- */
/* --- PC向けflexboxによるメニュー --- */
.navbar {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #f9f9fc;
  border-bottom: 1px solid #474747;
}
.navbar li {
  z-index: 10;
}
.navbar li a {
  display: block;
  font-size: 16px;
  padding: 18px 25px;
  color: #45575d;
  text-decoration: none;
}
.navbar li:first-child {
  margin-right: auto;
}


}
