@charset "utf-8";

@media screen and (min-width: 741px) {

/* ---
 ナビゲーション
   --- */

/* --- PC向けflexboxによるメニュー --- */
.navbar {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #f9f9fc;
  border-bottom: 1px solid #d9d9d9;
}

.navbar li {
  z-index: 10;
}

.navbar li a {
  display: block;
  height: 55px;
  font-size: 16px;
  vertical-align: middle;
  line-height: 55px;
  padding: 0 25px;
  color: #45575d;
  text-decoration: none;
}

.navbar li:first-child {
  margin-right: auto;
}



/* ---
 フォーム全体
   --- */

/* --- PC向け中央揃え
contact-parentをrelativeにした上で、contactとcontact-innerの両方を揃えている
   --- */
.contact-parent {
  position: relative;
  height: calc( 100vh - 56px );
}

.contact,
.contact-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

}
