@charset "utf-8";

@media screen and (max-width: 740px) {

/* ---
 背景画像
   --- */
.back-image {
    width: 100%;
    background-attachment: fixed;
}

/* ---
 フォーム全体
   --- */
.contact {
    position: static;
    width: 90vw;
    display: block;
    margin:100px auto 20px;
    height: auto;
    overflow-y: visible;
}

/* ---
 フッター
   --- */
footer {
    position: static;
}

}
