@charset "utf-8";

@media screen and (max-width: 740px) {

/* ---
 背景画像
   --- */
.img-bg {
  width: 100vw;
  background-position: 40%;
  position: fixed;
}

/* ---
 フォーム全体
   --- */
.contact {
  background: #f9f9fcf5; /* 透過は背景画像が見えるようにするため */
  position: static;
  width: 85vw;
  height: auto;
  display: block;
  margin: 20px auto;
  height: auto;
  overflow-y: visible;
}

.contact-inner {
  padding: 20px 10%;
}

/* ---
 ナビゲーション
   --- */

.navbar {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #45575d61;
}

.navbar li a {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  height: 3.75rem;
  vertical-align: middle;
  line-height: 3.75rem;
  color: #f9f9fc;
  text-decoration: none;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
}

.navbar li:first-child a {
  padding-left: 10px;
  display: block;
}

/* ---
 フッター
   --- */
footer {
  position: static;
}

}
